.divider--default {
  border-color: rgba(255,255,255,0.2);
}
.divider--gray {
  border-color: rgba(10,20,30,0.2);
}

.q-splitter--dark .q-splitter__separator,
.q-separator--dark {
  background-color: #0A141E;
  opacity: 40%;
}