.progress-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 0.625rem;
  padding-bottom: 0.625rem;
  &:first-child {
    margin-top: 0;
  }
  h2 {
    margin-bottom: 0 !important;
  }
  h3 {
    display: flex;
    justify-content: flex-end;
    color: var(--q-info);
    line-height: 1.5rem;
    margin-bottom: 0.25rem;
  }
  .q-linear-progress {
    height: 1.25rem;
    border-radius: 0.25rem;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0;
    text-align: right;
    &.fix-height {
      height: 1.25rem;
    }
  }
  .tbl-data {
    margin-top: 0.25rem;
    width: calc(100% - 10rem);
  }
}

.progress-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 0.625rem;
  h4 {
    width: 6rem;
    font-weight: 400 !important;
    white-space: nowrap;
    margin-right: 1rem;
    line-height: normal !important;
  }
  .q-linear-progress {
    width: calc(100% - 10rem);
    height: 0.625rem;
    border-radius: 0.25rem;
  }
  .status-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    white-space: nowrap;
    width: 4rem;
    margin-left: 1rem;
    .q-icon {
      font-size: 1.25rem;
      margin-top: 1px;
      margin-right: 0.25rem;
    }
  }
  &.evidence {
    justify-content: space-between;
    margin-top: 0;
    .q-linear-progress {
      width: calc(100% - 10rem);
      height: 1.25rem;
      border-radius: 0.25rem;
    }
    .btn-folder {
      margin-left: 1.25rem;
    }
  }
}
